// app global css in SCSS form
@font-face {
    font-family: networkFont;
    src: url(./../assets/fonts/Heebo-Light.woff);
  }

  // declare a class which applies it
  .my-font {
    font-family: 'networkFont';
  }
  // app global css in SCSS form

.transparency {
  opacity: 0.1;
}

.above-bg{
  z-index: 2;
}
